/*variables de entorno*/
:root {
    --oscuro: #07070a;
    --azulOscuro: #0a1128;
    --azulClaro: #006fe6;
    --blanco: #fefcfb;
    --titulos: 'Garamond', italic;
    --parrafos: 'Montserrat', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*Estilos Globales*/
h1,
h2,
h3 {
    font-family: var(--titulos);
}

p,
a {
    font-family: var(--parrafos);
}

.ocultar {
    display: none;
}

@keyframes desplazamiento {

    /*desplaxamiento inicial*/
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.contenedor {
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

/*Encabezado*/
.encabezado {
    background-image: url('/img/fondo.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;
    position: relative;

}

.encabezado::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.texto-encabezado h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--blanco);
    padding-top: 9rem;
}

.logo h2 {
    font-size: 3rem;
    background-image: url('/img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

.logo h2 span {
    color: var(--azulClaro);
}

.contenido-navegacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blanco);
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0, 0.1);
}

.navegacion {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    background-color: var(--blanco);
    animation: desplazamiento .5s ease-in-out;
}

.navegacion a {
    display: block;
    font-size: 2rem;
    padding: 1.1rem;
    color: var(--oscuro);
    text-decoration: none;
}


.hamburguesa span {
    width: 5rem;
    height: 1rem;
    border: 3px solid white;
    background-color: var(--oscuro);
    display: block;
}

/* formulario*/

.fomulario-encabezado {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    border-radius: .5rem;
}

.fomulario-encabezado h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    font-family: var(--titulos);
}

.input-encabezado {
    margin-bottom: 1rem;
    width: 100%;
}

.input-encabezado input {
    width: 100%;
    padding: 0 1.6rem;
    height: 4.8rem;
    border: 1px solid DarkKhaki;
    font-family: var(--parrafos);
    outline: none;
    font-weight: bold;
}

.btn {
    padding: 1rem 3rem;
    font-weight: bold;
    font-family: var(--parrafos);
    font-size: 2rem;
    border: none;
    color: var(--blanco);
    background-color: var(--azulClaro);
}
.eliminar{
    padding: 1rem 3rem;
    font-weight: bold;
    font-family: var(--parrafos);
    font-size: 2rem;
    border: none;
    color: var(--blanco);
    background-color: red;
}

/*Estilos card*/
.container-card {
    width: 100%;
    max-width: 110rem;
    margin: auto;
    /* display: flex;/*activar mi flexbox*/
    /* flex-wrap: wrap;/*envuelve los elementos en filas*/
    /*justify-content: center;/*centra horizontal*/
    /* align-items: flex-start;/*alinea vertical desde la parte superior*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;


}

.servicios {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: var(--azulOscuro);
}

.card {
    width: 100%;
    margin: 2rem;
    border-radius: 0.6rem;
    overflow: hidden;
    background-color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
    border: 2px solid var(--azulClaro);
    /*flex: 0 1 40%;*/
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    padding: 2rem;
}

.descrip-car {
    padding: 15px;
    text-align: center;
    font-weight: var(--parrafos);
}

.descrip-car h3 {
    margin-bottom: 15px;
    color: #7a7a7a;
}

.descrip-car p {
    line-height: 1.8rem;
    color: #7a7a7a;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.descrip-car a {
    display: inline-block;
    padding: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: var(--blanco);
    border: 1px solid var(--azulOscuro);
    border-radius: .5rem;
    background-color: var(--azulClaro);
    margin-bottom: .5rem;
}

/*#primera{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    grid-row-end: 3;
}*/
@media(min-width: 768px) {
    .ocultar {
        display: inline;
    }

    .hamburguesa {
        display: none;
    }

    .navegacion a {
        display: inline;
    }

    .navegacion {
        position: relative;
        top: unset;
        width: auto;
        background-color: unset;
        animation: unset;
    }

    .navegacion a:hover {
        background-color: var(--azulClaro);
    }

    /*formulario*/
    .contenido-encabezado {
        display: flex;
        align-items: center;
        height: 85%;
        justify-content: space-between;
    }

    .texto-encabezado {
        font-size: 7rem;
        text-align: left;
    }

    .container-card {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}